body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #434455;
}
.logotype {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1, 17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logotype .name {
  color: #2e2f42;
}
a {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
}
a:hover,
a:focus {
  color: #404bbf;
  text-decoration: underline;
}

.contact-decoration {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 56px;
  line-height: 1, 0714;
  letter-spacing: 0.02em;
}
h2 {
  font-size: 36px;
  line-height: 1, 1111;
  letter-spacing: 0.02em;
}
h3 {
  font-size: 20px;
  line-height: 1, 2;
  letter-spacing: 0.02em;
}
button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.04em;
}
button:hover,
button:focus {
  background: #404bbf;
}
