body {
  font-family: Roboto, sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.logotype {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logotype .name {
  color: #2e2f42;
}
.link-nav {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
}
.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
  text-decoration: underline;
}

.address-text-fontstyle {
  font-style: normal;
  color: #434455;
}
.contact-decoration {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 400;
}

.contact-decoration:hover,
.contact-decoration:focus {
  color: #404bbf;
  text-decoration: underline;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
button:hover,
button:focus {
  background: #404bbf;
}
